
body {
  font-family: 'Hers';
  color: rgb(255, 255, 255);
  background-color: #313131;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: #f2e6ff;
}

h3 {
  display: flex;
  font-family: 'Poppins';
  color: #000000;
  margin-bottom: 50px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

h1 {
  display: flex;
  font-family: 'Poppins';
  color: #f2e6ff;
 
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
  padding: 40px;
  background-color: #7a2bf900;
  border-radius: 50px;
  box-shadow: 0 0 10px #00ccff, 0 0 20px #00ccff, 0 0 30px #00ccff, 0 0 40px #00ccff;
  border: 1px solid #00ff00;
  position: relative;
}



form::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border-radius: inherit;
  background: linear-gradient(45deg, #0080ff, #000000);
  z-index: -1;
  animation: neon-border 1.5s ease-in-out infinite;
}

@keyframes neon-border {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}


form input, button {
  width: 100%;
  max-width: 130px;
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: none;
  background-color: #f2e6ff;
  color: #2bc9f9;
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 5px 10px #09b3e7;
  cursor: pointer;
  transition: all 0.3s ease;
}

form input {
  max-width: 500px;
  color: #000000;
}


.success {
  color: #00cc00;
}

.failed {
  color: #ca0505;
}

#result h2 {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

#result {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
}


#result pre {
  width: 100%;
  max-width: 800px;
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 18px;
  font-weight: 500;
  box-shadow: 0 10px 20px black;
  overflow-y: scroll;
}


form input:focus {
  outline: none;
  background-color: #101010;
  box-shadow: 0 10px 20px black;
}


.site-identity h1 {
  font-size: 1.5em;
  margin: .7em 0 .3em 0;
  display: inline-block;
  color: #f2e6ff;
}

.site-identity img {
  max-width: 55px;
  float: left;
  margin: 0 10px 0 0;
}

.site-navigation {
  float: right;
}

.site-navigation ul, li {
  margin: 0; 
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}

.button-55 {
  align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-55:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-55:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

label[for="message"] {
  color: white;
}
